.rotate {
    -webkit-animation: rotation 20s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.bounce {
    -webkit-animation: anim-bounce 3s infinite;
    -moz-animation:    anim-bounce 3s infinite;
    -o-animation:      anim-bounce 3s infinite;
    animation:         anim-bounce 3s infinite;
  }
  
  @-webkit-keyframes anim-bounce {
    0%   { margin-top: -50px; margin-bottom: 20px }
    50% { margin-top: -80px; margin-bottom: 50px }
    100% { margin-top: -50px; margin-bottom: 20px }   
  }
  @-moz-keyframes anim-bounce {
    0%   { margin-top: -50px; margin-bottom: 20px }
    50% { margin-top: -80px; margin-bottom: 50px }
    100% { margin-top: -50px; margin-bottom: 20px }      
  }
  @-o-keyframes anim-bounce {
    0%   { margin-top: -50px; margin-bottom: 20px }
    50% { margin-top: -80px; margin-bottom: 50px }
    100% { margin-top: -50px; margin-bottom: 20px }
  }
  @keyframes anim-bounce {
    0%   { margin-top: -50px; margin-bottom: 20px }
    50% { margin-top: -80px; margin-bottom: 50px }
    100% { margin-top: -50px; margin-bottom: 20px }        
  }

  /* mini-bounce */

  .mini-bounce {
    -webkit-animation: anim-mini-bounce 3s infinite;
    -moz-animation:    anim-mini-bounce 3s infinite;
    -o-animation:      anim-mini-bounce 3s infinite;
    animation:         anim-mini-bounce 3s infinite;
  }
  
  @-webkit-keyframes anim-mini-bounce {
    0%   { margin-top: -20px; margin-bottom: 20px  }
    50% { margin-top: -40px; margin-bottom: 40px }
    100% { margin-top: -20px; margin-bottom: 20px }   
  }
  @-moz-keyframes anim-mini-bounce {
    0%   { margin-top: -20px; margin-bottom: 20px  }
    50% { margin-top: -40px; margin-bottom: 40px }
    100% { margin-top: -20px; margin-bottom: 20px }        
  }
  @-o-keyframes anim-mini-bounce {
    0%   { margin-top: -20px; margin-bottom: 20px  }
    50% { margin-top: -40px; margin-bottom: 40px }
    100% { margin-top: -20px; margin-bottom: 20px }  
  }
  @keyframes anim-mini-bounce {
    0%   { margin-top: -20px; margin-bottom: 20px  }
    50% { margin-top: -40px; margin-bottom: 40px }
    100% { margin-top: -20px; margin-bottom: 20px }        
  }

  /* fim mini-bounce */


  .reduce {
    -webkit-animation: anim-reduce 3s infinite;
    -moz-animation:    anim-reduce 3s infinite;
    -o-animation:      anim-reduce 3s infinite;
    animation:         anim-reduce 3s infinite;
  }

  @-webkit-keyframes anim-reduce {
    0%   { background-size: 90%;}
    50% { background-size: 88%; }
    100% { background-size: 90%; }   
  }
  @-moz-keyframes anim-reduce {
    0%   { background-size: 90%;}
    50% { background-size: 88%; }
    100% { background-size: 90%; }     
  }
  @-o-keyframes anim-reduce {
    0%   { background-size: 90%;}
    50% { background-size: 88%; }
    100% { background-size: 90%; } 
  }
  @keyframes anim-reduce {
    0%   { background-size: 90%;}
    50% { background-size: 88%; }
    100% { background-size: 90%; } 
  }

  ANIMACAO AMPLIA

  .amp {
    -webkit-animation: anim-amp 3s infinite;
    -moz-animation:    anim-amp 3s infinite;
    -o-animation:      anim-amp 3s infinite;
    animation:         anim-amp 3s infinite;
  }

  @-webkit-keyframes anim-amp {
    0%   { background-size: 88%;}
    50% { background-size: 90%; }
    100% { background-size: 88%; }    
  }
  @-moz-keyframes anim-amp {
    0%   { background-size: 88%;}
    50% { background-size: 90%; }
    100% { background-size: 88%; }     
  }
  @-o-keyframes anim-amp {
    0%   { background-size: 88%;}
    50% { background-size: 90%; }
    100% { background-size: 88%; } 
  }
  @keyframes anim-amp {
    0%   { background-size: 88%;}
    50% { background-size: 90%; }
    100% { background-size: 88%; } 
  }