@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Extra\ Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/carnas_bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Extra\ Bold.otf);
    font-weight: 800;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Extra\ Light\ Italic.otf);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Light\ Italic.otf);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Bold\ Italic.otf);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Extra\ Bold\ Italic.otf);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: Carnas;
    src: url(../../fonts/Carnas/Carnas\ Black\ Italic.otf);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-UltraLight.otf);
    font-weight: 200;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-ExtraBold.otf);
    font-weight: 800;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-Black.otf);
    font-weight: 900;
}

/* muller italic */

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-ThinItalic.otf);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-UltraLightItalic.otf);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-LightItalic.otf);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-RegularItalic.otf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-MediumItalic.otf);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-BoldItalic.otf);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-ExtraBoldItalic.otf);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: Muller;
    src: url(../../fonts/Muller/Fontfabric\ -\ Muller-BlackItalic.otf);
    font-style: italic;
    font-weight: 900;
}