
@import url(fonts.css);

:root {
    --color-blue: #4a81d3;
    --color-blue-light: #5596ec;
    --color-blue-mega-light: #68b7fc;
    --color-green-neon: #90ff94;
    --color-white: #fff;
    --color-gray-blue: #617693;
    --color-gray-blue-light: #a6c0df;
    --color-dark-blue: #3a5981;
    --color-dark-gray-blue: #445872;
    --color-ultra-dark-blue: #253344;
    --color-footer-blue: #88a6c2;
}

.bg-blue {
    background-color: var(--color-blue);
}

.menu-sm {
    padding-top: 50px;
    padding-bottom: 70px;
}

@media (max-width: 800px) {
    .navbar-toggler {
        position: absolute;
        right: 0;
        top: -60px;
    }
}

.item-menu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-white) !important;
    text-transform: uppercase;
    transition: 0.4s;

}

.item-menu:hover {
    color: var(--color-blue-mega-light) !important;
    transition: 0.4s;
}

.section-space {
    padding: 90px 0;
}

.calendario-topo {
    margin-left: 20px;
}

#banner {
    background-color: var(--color-blue);
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 50px;
}

#banner a:hover {
    text-decoration: none;
}

.titulo-banner {
    font-size: 47px;
    line-height: 52px;
    color: var(--color-white);
    font-weight: 700;
    margin-bottom: 0;
}

.subtitulo-banner {
    font-style: italic;
    font-size: 47px;
    line-height: 52px;
    color: var(--color-green-neon);
    font-weight: 700;
}

/* .subtitulo-banner::after {
    content: "";
    width: 63px;
    height: 7px;
    border-radius: 6px;
    background-color: var(--color-blue-light);
    display: block;
} */

.banner-txt {
    margin-top: 20px;
    color: var(--color-white);
    font-family: Muller, Carnas, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 73%;
}

.banner-btn {
    max-width: 155px;
    width: 100%;
    height: 45px;
    background: var(--color-blue-mega-light);
    text-align: center;
    font-size: 16px;
    color: var(--color-white);
    padding: 11px;
    border-radius: 10px;
    border: 1px solid var(--color-blue-mega-light);
    transition: .3s;
}

.banner-btn:hover {
    background-color: transparent;
    transition: .3s;
}

/* BLOCO BANNER DIREITA - IMG */
.bloco-banner-img {
    width: 100%;
    margin-bottom: 20px;
    min-height: 450px;
}

@media (max-width:800px) {
    .bloco-banner-img {
        min-height: 600px;
    }
}

@media (max-width:500px) {
    .bloco-banner-img {
        min-height: 350px;
    }
}

.banner-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    right: 60px;
    width: 100%;
    height: 100%;
    z-index: 30;
}

@media (max-width: 800px) {
    .banner-img {
        background-position: center;
        right: unset;
    }
}

@media (max-width: 500px) {
    .banner-img {
        width: 90%;
        right: 5%;
    }
}

.comp {
    background-image: url(../../img/computador-BG.png);
    z-index: 30;
    margin-top: 20px;

    /* -webkit-animation: anim-reduce 2.5s infinite;
    -moz-animation:    anim-reduce 2.5s infinite;
    -o-animation:      anim-reduce 2.5s infinite;
    animation:         anim-reduce 2.5s infinite; */
}

@media (max-width:1100px) {
    .comp {
        margin-top: 0;
    }
}

.linhas-bg {
    background-image: url(../../img/icones-linhas-bg.png);
    z-index: 10;

    -webkit-animation: rotation 20s infinite linear;
}

@media (max-width: 800px) {
    .linhas-bg {
        -webkit-animation: none;
    }
}

.icones-1 {
    background-image: url(../../img/icones-1.png);

    -webkit-animation: anim-reduce 3s infinite;
    -moz-animation:    anim-reduce 3s infinite;
    -o-animation:      anim-reduce 3s infinite;
    animation:         anim-reduce 3s infinite;
}

.icones-2 {
    background-image: url(../../img/icones-2.png);
    z-index: 20;

    -webkit-animation: anim-amp 3s infinite;
    -moz-animation:    anim-amp 3s infinite;
    -o-animation:      anim-amp 3s infinite;
    animation:         anim-amp 3s infinite;
}

/* FIM BLOCO DIREITA IMG */

/* BLOCO ORGANIZADOR */

#organizador {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 100px;
}

.titulo-organizador {
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-blue);
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}

.subtitulo-organizador {
    font-size: 35px;
    color: var(--color-blue-light);
    font-weight: 400;
}

.blue-underline-after:after {
    content: "";
    width: 63px;
    height: 7px;
    border-radius: 6px;
    background-color: var(--color-blue-light);
    display: block;
}

.blue-underline-center-after:after {
    content: "";
    width: 63px;
    height: 7px;
    border-radius: 6px;
    background-color: var(--color-blue-light);
    display: block;
    margin: 10px auto 40px;
}

.blue-underline-right-after:after {
    content: "";
    width: 63px;
    height: 7px;
    border-radius: 6px;
    background-color: var(--color-blue-light);
    display: block;
    margin: 10px auto 10px;
    margin-left: calc(90% - 11px);
}

@media (max-width: 800px) {
    .blue-underline-right-after:after {
        margin-left:auto;
    }
}

.bloco-organizador-conteudo:before {
    content: "";
    max-width: 600px;
    max-height: 281px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/graph.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1100px) {
    .bloco-organizador-conteudo:before {
        top: -350px;
    }
}

@media (max-width: 1500px) {
    .bloco-organizador-conteudo:before {
        top: -250px;
        left: 10%;
    }
}

@media (min-width: 1501px) {
    .bloco-organizador-conteudo:before {
        top: -250px;
        left: 130px;
    }
}

@media (min-width: 2000px) {
    .bloco-organizador-conteudo:before {
        top: -250px;
        left: 10%;
    }
}

.bloco-organizador-conteudo {
    width: 100%;
    display: inline-flex;
    position: relative;
}

@media (max-width: 3000px) {
    .bloco-organizador-conteudo {
        margin-bottom: 80px;
    }
}

@media (max-width: 1500px) {
    .bloco-organizador-conteudo {
        margin-bottom: 80px;
    }
}

@media (max-width: 1100px) {
    .bloco-organizador-conteudo {
        margin-bottom: 50px;
    }
}

.bloco-organizador-conteudo:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 180px;
    top: 250px;
    z-index: 1;
    max-width: 800px;
    height: 100%;
    background: url(../../img/organizador-linha-baixo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


@media (max-width: 1100px) {
    .bloco-organizador-conteudo:after {
        content: "";
        position: absolute;
        width: 70%;
        left: 160px;
        top: 220px;
        z-index: 1;
        max-width: 800px;
        height: 100%;
        background: url(../../img/organizador-linha-baixo.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 990px) {
    .bloco-organizador-conteudo:after {
        display: none
    }

    .bloco-organizador-conteudo:before {
        display: none
    }
}

@media (max-width: 800px) {
    .bloco-organizador-conteudo {
        display: table;
    }
}

.bloco-org-img {
    width: 60%;
    z-index: 20;
}

@media (max-width: 800px) {
    .bloco-org-img {
        width: 100%;
        min-height: 430px;
    }
}

@media (max-width: 500px) {
    .bloco-org-img {
        min-height: 230px;
    }
}

.bloco-org-img .org-img {
    width: 650px;
    height: 407px;
    background-image: url(../../img/organizador-notebook.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.bloco-org-txt{
    width: 40%;
    z-index: 25;
}

@media (max-width: 800px) {
    .bloco-org-txt{
        width: 80%;
        margin: 50px auto 0;
    }
}

.lista-org-txt {
    list-style-image: url(../../img/icon-check.png);
    padding: 0;
    margin-top: -30px;
    margin-bottom: 30px;
}

.lista-org-txt li {
    font-family: Muller, Arial, sans-serif;
    font-size: 16px;
    max-width: 400px;
    color: var(--color-gray-blue);
    line-height: 24px;
    margin-bottom: 20px;
}
.org-btn-block .org-btn {
    text-decoration: none;
    padding: 16px 42px;
    background-color: var(--color-blue-mega-light);
    color: #fff;
    border: 2px solid transparent;
    font-family: Carnas, Arial, sans-serif;
    font-weight: 500;
    border-radius: 10px;
}
.org-btn-block .org-btn:hover {
    background-color: transparent;
    color: var(--color-blue-mega-light);
    border: 2px solid var(--color-blue-mega-light);
}
.bloco-itens-organizador {
    background-image: url(../../img/itens-org-bg.png);
    background-color: var(--color-dark-blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bloco-itens-organizador .row {
    margin-top: 80px;
    padding-bottom: 80px;
}

.bloco-itens-organizador .organizador-item {
    z-index: 20;
}

.bloco-itens-organizador .organizador-item .organizador-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 91px;
    max-width: 119px;
    width: 100%;
    margin: -50px auto 40px;
}

/* .bloco-itens-organizador .organizador-item:nth-of-type(1) .organizador-img {
    -webkit-animation: anim-bounce 2s infinite;
    -moz-animation:    anim-bounce 2s infinite;
    -o-animation:      anim-bounce 2s infinite;
    animation:         anim-bounce 2s infinite;
}

.bloco-itens-organizador .organizador-item:nth-of-type(2) .organizador-img {
    -webkit-animation: anim-bounce 3s infinite;
    -moz-animation:    anim-bounce 3s infinite;
    -o-animation:      anim-bounce 3s infinite;
    animation:         anim-bounce 3s infinite;
}

.bloco-itens-organizador .organizador-item:nth-of-type(3) .organizador-img {
    -webkit-animation: anim-bounce 4s infinite;
    -moz-animation:    anim-bounce 4s infinite;
    -o-animation:      anim-bounce 4s infinite;
    animation:         anim-bounce 4s infinite;
} */

@media (max-width: 800px) {
    .bloco-itens-organizador .organizador-item .organizador-img {
        margin: 30px 10% 40px;
    }
}

.organizador-single-item {
    width: 80%;
    margin: auto;
}

@media (max-width: 820px) {
    .bloco-itens-organizador .organizador-item:not(:last-of-type) {
        margin-bottom: 80px;
    }
}

.org-item-title {
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-green-neon);
    font-size: 20px;
}

.org-item-txt {
    font-family: Muller, Arial, sans-serif;
    font-size: 16px;
    color: var(--color-white);
}

/* FIM BLOCO ORGANIZADOR */

/* BLOCO NOVIDADE */

#novidade {
    font-family: 'Ubuntu', sans-serif;
}

.novidade-conteudo {
    text-align: right;
}

@media (max-width: 800px) {
    .novidade-conteudo {
        text-align: center;
    }
}

.sm-titulo {
    font-size: 35px;
    line-height: 40px;
    font-weight: 900;
    color: var(--color-blue-light);
    margin-bottom: 0;
}

.sm-subtitulo {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    color: var(--color-blue-light);
    max-width: 430px;
    float: right;
}

@media (max-width: 800px) {
    .sm-subtitulo {
        max-width: 100%;
        float: unset;
    }
}

.sm-desc {
    font-family: Muller, Arial, sans-serif;
    width: 40%;
    text-align: right;
    float: right;
    color: var(--color-gray-blue);
}

@media (max-width: 800px) {
    .sm-desc {
        width: 60%;
        text-align: center;
        float: unset;
        margin: auto;
    }
}

.novidade-img {
   width: 100%;
   height: 100%;
   background-image: url(../../img/novidade-sm.png);
   background-repeat: no-repeat;
}

@media (max-width: 800px) {
    .novidade-img {
        min-height: 400px;
        background-position: center;
    }
}

.video-novidade {
    max-width: 100%;
    min-height: 235px;
}

@media (max-width:1200px) and (min-width: 850px) {
    .video-novidade {
        min-height: 195px;
    }
}

@media (max-width:800px) {
    .video-novidade {
       margin-top: 20px;
    }
}

@media (max-width:450px) {
    .video-novidade {
        min-height: 150px;
    }
}

/* FIM BLOCO NOVIDADE */

/* BLOCO SM */
#sm {
    background-color: var(--color-dark-gray-blue);
    font-family: 'Ubuntu', sans-serif;
}

.titulo-sm {
    font-size: 35px;
    font-weight: 700;
    color: var(--color-gray-blue-light);
}

.sub-sm {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-gray-blue-light);
    text-align: right;
    max-width: 400px;
    float: right;
}

@media (max-width: 800px) {
    .sub-sm {
        margin: auto;
        float: unset;
        text-align: center;
        max-width: 500px;
        margin-bottom: 50px;
    }
}

.txt-sm {
    font-family: Muller, Arial, sans-serif;
    color: var(--color-gray-blue-light);
    text-align: left;
    font-size: 16px;
    max-width: 500px;
}

@media (max-width: 800px) {
    .txt-sm {
        margin: auto;
    }
}

/* FIM BLOCO SM */

/* RODAPE */
    #rodape {
        background-color: var(--color-ultra-dark-blue);
        padding: 15px 0;
    }

    .bloco-logo-footer {
        display: inline-table;
    }

    .bloco-logo-footer img {
        display: table-cell;
    }

    .copy {
        padding-left: 20px;
        font-size: 12px;
        font-family: Muller, Arial, sans-serif;
        color: var(--color-footer-blue);
        display: table-cell;
        vertical-align: middle;
    }

    .footer-icon {
        margin-right: 7px;
        transition: .4s;
    }

    .footer-icon path{
        fill: var(--color-footer-blue);
    }

    .footer-icon:hover path {
        fill: var(--color-white);
        transition: .4s;
    }

    .bloco-icon {
        width: 100px;
        padding-top: 10px;
        float: right;
    }

    @media (max-width: 500px) {
        .bloco-icon {
            float: unset;
            padding-bottom: 20px;
            margin: auto;
        }
    }

/* FIM RODAPE */